:root {
  --skin-tone: #F3DDD1;
	--eye-color: #000;
	--hair-color: #0a0a0a;
	--pant-color: #6B6B6B;
	--shirt-color: #404145;
	--belt-color: #2C211C;
}

body {
	margin: 0;
	background-color: #080808;
	font-family: sans-serif;
}

input[type="radio"] {
	display: none;
}

.charac-container {
	width: 310px;
	height: 420px;
	background-color: #34495e;
	border: 5px solid #1e272e;
	position: relative;
	perspective: 300px;
  margin-left:25px;
  float: left;
}
.head {
	position: absolute;
	width: 180px;
	height: 140px;
	background-color: var(--skin-tone);
	left: 40px;
	top: 50px;
	border-radius: 50px 50px 35% 35% / 50px 50px 25% 25%;
	z-index: 3;
}
.head .eye {
	position: absolute;
	width: 20px;
	height: 25px;
	background-color: var(--eye-color);
	border-radius: 50%;
	left: 30px;
	top: 50px;
	box-shadow: 100px 0 var(--eye-color);
	animation: 7s eyes 2s linear infinite;
}
.head .nose {
	position: absolute;
	width: 16px;
	height: 5px;
	border-radius: 50%;
	border-bottom: 2px solid #666;
	top: 80px;
	left: 82px;
}
.head .mouth {
	width: 30px;
	height: 5px;
	background-color: #000;
	border-radius: 5px;
	position: absolute;
	bottom: 20px;
	left: 75px;
}

.body {
	position: absolute;
	width: 110px;
	height: 100px;
	background-color: var(--skin-tone);
	border-radius: 30px 30px 0 0;
	left: 80px;
	top: 185px;
	overflow: hidden;
}
.arm{
	position: absolute;
	width: 30px;
	height: 120px;
	background-color: var(--skin-tone);
	border-radius: 0 0 15px 15px;
	top: 200px;
	transform-origin: top;
}

.leg {
	position: absolute;
	width: 30px;
	height: 75px;
	background-color: var(--skin-tone);
	border-radius: 0 0 15px 15px;
	top: 200px;
	transform-origin: top;
}
.arm-left {
	left: 92px;
	transform: rotate(45deg);
}
.arm-right {
	right: 118px;
	transform: rotate(-45deg);
}
.leg {
	top: 320px;
	width: 35px;
	border-radius: 0 0 20px 20px;
}
.leg-left {
	left: 82px;
}
.leg-right {
	right: 108px;
}

/* Clothes */
.pant {
	position: absolute;
	width: 114px;
	left: 80px;
	top: 280px;
	background-color: var(--pant-color);
	height: 30px;
}
.pant:before {
	content: "";
	position: absolute;
	background-color: var(--pant-color);
	width: 39px;
	height: 50px;
	top: 28px;
	box-shadow: 75px 0 var(--pant-color);
}
.pant:after {
	content: "";
	position: absolute;
	width: 50px;
	height: 15px;
	border: 10px solid;
	border-color: var(--pant-color) var(--pant-color) transparent var(--pant-color);
	bottom: -30px;
	left: 20px;
	border-radius: 50%;
}
.shirt {
	position: absolute;
	width: 118px;
	height: 100px;
	background-color: var(--shirt-color);
	border-radius: 30px 30px 0 0;
	left: 80px;
	top: 185px;
}
.sleeve {
	position: absolute;
	width: 34px;
	height: 80px;
	background-color: var(--shirt-color);
	transform-origin: top;
	top: 27px;
	transform: rotate(45deg);
}
.sleeve:before {
	content: "";
	position: absolute;
	width: 34px;
	height: 80px;
	background-color: var(--shirt-color);
	transform-origin: top;
	top: -59px;
	left: 60px;
	transform: rotate(-90deg);
}
.belt {
	position: absolute;
	width: 118px;
	height: 20px;
	background-color: var(--belt-color);
	left: 80px;
	top: 270px;
}


.controls {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: auto;
  padding-top: 80px;
}
.controls .item {
	width: 200px;
	margin-bottom: 10px;
}
.controls .item > div {
	display: flex;
	color: #fff;
	align-items: center;
	background-color: #747d8c;/*#2C3A47*/
	overflow: hidden;
	border-radius: 3px;
	display: none;
}
.controls .item label {
	background-color: #2f3542;
	height: 35px;
	width: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.controls .item label:hover {
	opacity: 0.9;
}
.controls .item label:active {
	opacity: 0.8;
}
.controls .item p {
	margin: 0 10px;
	flex: 1;
	text-align: center;
	user-select: none;
}

/* Hair */
#hair-1:checked ~ * .hair .item-1 {
	display: flex;
}
#hair-2:checked ~ * .hair .item-2 {
	display: flex;
}
#hair-3:checked ~ * .hair .item-3 {
	display: flex;
}
#hair-4:checked ~ * .hair .item-4 {
	display: flex;
}
#hair-5:checked ~ * .hair .item-5 {
	display: flex;
}
#hair-6:checked ~ * .hair .item-6 {
	display: flex;
}
#hair-1:checked ~ .charac-container .back-hairs {
	position: absolute;
	width: 220px;
	height: 140px;
	background-color: var(--hair-color);
	left: 65px;
	top: 40px;
	border-radius: 50px 50px 10px 10px;
}
#hair-1:checked ~ .charac-container .back-hairs:after {
	content: "";
	position: absolute;
	width: 60px;
	height: 60px;
	background-color: var(--hair-color);
	border-radius: 50%;
	top: 90px;
	left: -10px;
	box-shadow: 
		20px -1px var(--hair-color),
		2px -20px var(--hair-color),
		0 -42px var(--hair-color),
		3px -70px var(--hair-color),
		7px -80px var(--hair-color),
		175px 0 var(--hair-color),
		176px -20px var(--hair-color),
		175px -42px var(--hair-color),
		171px -70px var(--hair-color),
		20px -93px var(--hair-color),
		50px -92px var(--hair-color),
		80px -93px var(--hair-color),
		120px -94px var(--hair-color),
		140px -92px var(--hair-color),
		100px -94px var(--hair-color);
}
#hair-1:checked ~ .charac-container .head .front-hairs {
	position: absolute;
	width: 100px;
	height: 30px;
	background-color: var(--hair-color);
	border-radius: 50%;
	right: 7px;
	top: -10px;
	box-shadow: -40px 0 var(--hair-color), -90px 10px 0 5px var(--hair-color);
}
#hair-1:checked ~ .charac-container .head .front-hairs:before {
	content: "";
	position: absolute;
	width: 70px;
	height: 30px;
	background-color: var(--hair-color);
	border-radius: 50%;
	left: -120px;
	top: 35px;
	transform: rotate(-60deg);
}
#hair-1:checked ~ .charac-container .head .front-hairs:after {
	content: "";
	position: absolute;
	width: 80px;
	height: 25px;
	background-color: var(--hair-color);
	border-radius: 50%;
	right: -40px;
	top: 35px;
	transform: rotate(70deg);
}
#hair-2:checked ~ .charac-container .back-hairs {
	position: absolute;
	width: 210px;
	height: 100px;
	background-color: var(--hair-color);
	left: 70px;
	top: 40px;
	border-radius: 60px 60px 10px 10px;
}
#hair-2:checked ~ .charac-container .head .front-hairs {
	position: absolute;
    width: 160px;
    height: 10px;
    left: 20px;
    background-color: var(--hair-color);
    border-radius: 120px 120px 0 0;
}
#hair-2:checked ~ .charac-container .head .front-hairs:before {
	content: "";
	position: absolute;
	width: 160px;
    height: 20px;
	background-color: var(--hair-color);
	border-radius: 50%;
}
#hair-3:checked ~ .charac-container .back-hairs {
	position: absolute;
	width: 206px;
	height: 70px;
	background-color: var(--hair-color);
	left: 72px;
	top: 45px;
	border-radius: 60px 60px 10px 10px;
}
#hair-4:checked ~ .charac-container .back-hairs {
	position: absolute;
	width: 210px;
	height: 230px;
	background-color: var(--hair-color);
	left: 70px;
	top: 40px;
	border-radius: 60px 60px 0 0;
}
#hair-4:checked ~ .charac-container .back-hairs:before {
	content: "";
	position: absolute;
	width: 15px;
	height: 60px;
	background-color: var(--hair-color);
	border-radius: 50%;
	left: -4px;
	top: 175px;
	box-shadow:
		0 -40px var(--hair-color),
		0 -85px var(--hair-color),
		0 -110px var(--hair-color),
		3px -140px var(--hair-color),
		203px 0 var(--hair-color),
		203px -40px var(--hair-color),
		203px -85px var(--hair-color),
		203px -110px var(--hair-color),
		200px -140px var(--hair-color);
}
#hair-4:checked ~ .charac-container .back-hairs:after {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: var(--hair-color);
	bottom: -9px;
	border-radius: 50%;
	box-shadow:
		20px 0 var(--hair-color),
		40px 0 var(--hair-color),
		60px 0 var(--hair-color),
		80px 0 var(--hair-color),
		110px 0 var(--hair-color),
		130px 0 var(--hair-color),
		150px 0 var(--hair-color),
		170px 0 var(--hair-color),
		190px 0 var(--hair-color);
}
#hair-4:checked ~ .charac-container .head .front-hairs:before {
	content: "";
    position: absolute;
    width: 130px;
    height: 50px;
    background-color: var(--hair-color);
    border-radius: 50%;
    top: -6px;
    transform: rotate(-10deg);
}
#hair-4:checked ~ .charac-container .head .front-hairs:after {
	content: "";
    position: absolute;
	width: 90px;
    height: 40px;
    background-color: var(--hair-color);
    border-radius: 50%;
    right: -2px;
    top: -4px;
    transform: rotate(20deg);
}
#hair-5:checked ~ .charac-container .back-hairs {
	position: absolute;
	width: 210px;
	height: 130px;
	background-color: var(--hair-color);
	left: 70px;
	top: 40px;
	border-radius: 60px 60px 30px 30px;
}
#hair-5:checked ~ .charac-container .head .front-hairs {
	position: absolute;
    width: 200px;
    height: 35px;
    background-color: var(--hair-color);
    border-radius: 400px 400px 60% 60% / 300px 300px 90% 90%;
}
#hair-5:checked ~ .charac-container .head .front-hairs:before {
	content: "";
	position: absolute;
    width: 30px;
    height: 18px;
    background-color: var(--hair-color);
    border-radius: 50%;
    top: 28px;
    left: -1px;
    transform: skewX(40deg);
    box-shadow:
    	30px 0 var(--hair-color),
    	60px 0 var(--hair-color),
    	90px 0 var(--hair-color),
    	120px 0 var(--hair-color),
    	150px 0 var(--hair-color),
    	173px 0 var(--hair-color);
}
#hair-5:checked ~ .charac-container .head .front-hairs:after {
	content: "";
	position: absolute;
    width: 20px;
    height: 8px;
    background-color: #eee;
    border-radius: 50%;
    top: 15px;
    left: 3px;
    box-shadow:
    	18px 0 #eee,
    	36px 0 #eee,
    	54px 0 #eee,
    	72px 0 #eee,
    	90px 0 #eee,
    	108px 0 #eee,
    	126px 0 #eee,
    	144px 0 #eee,
    	162px 0 #eee,
    	177px 0 #eee;
}
#hair-6:checked ~ .charac-container .back-hairs {
	position: absolute;
	width: 220px;
	height: 130px;
	background-color: var(--hair-color);
	left: 65px;
	top: 40px;
	border-radius: 60px 60px 30px 30px;
}
#hair-6:checked ~ .charac-container .front-hairs {
	position: absolute;
	height: 30px;
	width: 150px;
    left: 50px;
	background-color: var(--hair-color);
	border-radius: 25px;
}
#hair-6:checked ~ .charac-container .head {
	overflow: hidden;
}
#hair-6:checked ~ .charac-container .front-hairs:before {
	content: "";
	position: absolute;
    height: 50px;
    width: 34px;
    border: solid;
    border-width: 10px 3px 0 30px;
    border-color: var(--hair-color) var(--hair-color) transparent transparent;
    border-radius: 30px;
    left: 70px;
    top: 20px;
}

#hair-6:checked ~ .charac-container .front-hairs:after {
	content: "";
	position: absolute;
    height: 100px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--hair-color);
    transform: rotate(40deg);
    left: -50px;
    top: -20px;
}




/* Names */
.charac-container:after {
	position: absolute;
	width: 60%;
	left: 20%;
	border: 5px solid #1e272e;
	background-color: #fff;
	top: -20px;
	text-align: center;
	line-height: 30px;
	font-weight: bold;
	display: none;
}
