.welcome {
  text-align: center;
  font-size: 2.6vw;
}

/* unvisited link */
a.welcome-link:link {
  color: white;
  text-decoration: none;
}

/* visited link */
a.welcome-link:visited {
  color: #931010;
  text-decoration: none;
}

/* mouse over link */
a.welcome-link:hover {
  color: red;
  text-decoration: none;
}

/* selected link */
a.welcome-message:active {
  color: #931010;
  text-decoration: none;
}


a.start-link:link, a.start-link:visited {
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 10px 20px;
  margin-bottom:10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 3vw;
  width:20%;
}

a.start-link:hover, a.start-link:active {
  background-color: red;
  color: white;
}

#welcome-selection {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}


